---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';

const dateFmt = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'UTC',
});

const latestBakes = (await getCollection('recipes'))
  .sort((a, b) => {
    const da = a.data.date?.getTime() ?? 0;
    const db = b.data.date?.getTime() ?? 0;
    return db - da;
  })
  .slice(0, 6);
---

<Base title="Rachel Wang">
  <div class="row">
    <div class="col-md-offset-2 col-md-3">
      <div id="profile-pic"><img src="/images/profile.jpeg" alt="Rachel Wang" /></div>
    </div>
    <div class="col-md-5">
      <div id="about">
        <p>
          Currently engineering @ <a href="https://www.cadence.care/">Cadence</a> where
          we're building AI-powered care management that's always on. Previously @ <a
            href="http://benchling.com/">Benchling</a
          > building tools for scientists.
        </p>
        <p>
          Based in Seattle with my husband Nirvan, where you can find us running on the
          Burke Gilman, baking up a storm in the kitchen, or adventuring in the
          mountains.
        </p>
      </div>
      <ul id="social-media" class="horizontal-list">
        <li>
          <a href="https://www.instagram.com/rswang"
            ><i class="fa fa-instagram fa-2x"></i></a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/rachel-wang-aa0ab580"
            ><i class="fa fa-linkedin fa-2x"></i></a
          >
        </li>
        <li>
          <a href="https://github.com/rswang"><i class="fa fa-github fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </div>

  {
    latestBakes.length > 0 && (
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h2 class="oven-title">From the oven</h2>
          <div class="oven-list">
            {latestBakes.map((r) => (
              <a class="oven-item" href={`/recipes/${r.id}`}>
                <div
                  class="oven-thumb"
                  style={`background-image:url('${r.data.image}')`}
                />
                <div class="oven-meta">
                  <span class="oven-name">{r.data.title}</span>
                  {r.data.date && (
                    <span class="oven-date">{dateFmt.format(r.data.date)}</span>
                  )}
                </div>
              </a>
            ))}
          </div>
        </div>
      </div>
    )
  }
</Base>
